.card {
  text-align: center;
  inline-size: 300px;
  overflow-wrap: break-word;
  border: grey solid 1px;
  font-family: Copperplate Gothic;
  color: white;
  padding: 1rem;
  display: inline-grid;
  grid-auto-rows: minmax(100px, auto);
  margin: 1rem 2rem;
  background-image: radial-gradient( circle 759px at -6.7% 50%, #964F4CFF 0%, #964F4CFF 26.2%, #964F4CFF 50.6%, #964F4CFF 74.1%, #964F4CFF 100.3% );
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.recipe_img {
  justify-self: center;
  height: 12rem;
  width: auto;
}

.steps{
  text-align: left;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background-image: radial-gradient( circle 759px at -6.7% 50%, #567572FF 0%, #567572FF 26.2%, #567572FF 50.6%, #567572FF 74.1%, #567572FF 100.3% );
  opacity: .8;
}

body{
  background-image: linear-gradient(to right, #567572FF, #964F4CFF);
  font-family: Copperplate Gothic;
}

form{
  border-radius: 15px;
  background: #184A45FF;
  color: white;
  width: 550px;
  padding: 5px;
  margin: auto;
  font-family: Copperplate Gothic;
}

#header{
  text-align: center;
}

label{
  width: 150px;
  display: inline-block;
}

#recipe_placeholder{
  color: white;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%)q
}

.submit{
  width: 100%;
  margin-top: 5px;
  font-family: Copperplate Gothic;
}

button{
  font-family: Copperplate Gothic;
}

input{
  font-family: Copperplate Gothic;
  width: 175px;
}

h1{
  color: white;
}